.config/btop/btop.log
.local/share/fonts/.uuid
.config/Code/
.local/share/applications/mimeinfo.cache
.local/share/applications/mimeapps.list
.local/share/applications/jetbrains*
bin/oh-my-posh
.env

