@define-color bg        #2a292d;
@define-color light-bg  #4C4E56;
@define-color darker-bg #201f22;
@define-color color     #fbf1c7;

@define-color active    #ff4c4c;

* {
  all: unset;
  font-family: "Mononoki Nerd Font Mono";
}

window > box {
  margin: 12px;
  background-color: @bg;
  box-shadow: 0 0 5px 5px @darker-bg;
}

#workspaces {
  padding: 15px 10px;
  margin: 0px;
}

#workspaces button.active {
  font-size: 24px;
  color: @active;
}

.modules-right {
  color: @color;
  margin-bottom: 15px;
}

tooltip {
  background: @light-bg;
  border: 0px solid @light-bg;
}

@keyframes blink {
  to {
    background-color: #e0af68;
    /* color: white; */
  }
}

#clock {
  margin: 15px;
  color: @active;
  padding: 15px 10px;
  margin: 0px;
}

#cpu,
#pulseaudio,
#battery,
#power-profiles-daemon,
#custom-led {
  font-size: 28px;
}

#cpu {
  background-color: @light-bg;
}

#cpu.warning {
  background-color: #e0b341;
}

#cpu.critical {
  background-color: @active;
}

#tray {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @darker-bg;
}

#tray menu {
  padding: 10px;
  background-color: @darker-bg;
}
