@define-color bg       rgba(18, 24, 33, 0.98);
@define-color fg       rgba(205, 206, 207, 0.8);
@define-color black    rgba(57, 59, 68, 0.2);
@define-color red      rgb(201, 79, 109);
@define-color green    rgb(129, 178, 154);
@define-color yellow   rgba(219, 192, 116, 0.7);
@define-color blue     rgb(113, 156, 214);
@define-color magenta  rgb(157, 121, 214);
@define-color cyan     rgba(99, 205, 207, 0.2);
@define-color cyanh    rgba(99, 205, 207, 0.4);
@define-color white    rgb(223, 223, 224);
@define-color bblack   rgb(87, 88, 96);
@define-color bred     rgb(209, 105, 131);
@define-color bgreen   rgb(142, 186, 164);
@define-color byellow  rgb(224, 201, 137);
@define-color bblue    rgb(134, 171, 220);
@define-color bmagenta rgb(186, 161, 226);
@define-color bcyan    rgb(122, 213, 214);
@define-color bwhite   rgb(228, 228, 229);
@define-color index16  rgb(244, 162, 97);
@define-color index17  rgb(214, 122, 210);

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: 2px solid @cyan;
  color: @fg;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  margin-top: 2px;
  margin-bottom: 2px;
  color: @fg;
  background-color: @bg;
}

#workspaces button {
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px 6px 14px;
  border-radius: 0px;
}

#workspaces button.active {
  color: @fg;
  background: @cyan;
}

#workspaces button.active:hover {
  border-color: @cyanh;
  box-shadow: none;
  background: @cyanh;
}

#workspaces button.empty:hover {
  color: @fg;
  border-color: @cyanh;
  box-shadow: none;
  background: @cyanh;
  text-shadow: unset;
}

#workspaces button.persistent:hover {
  color: @fg;
  border-color: @cyanh;
  box-shadow: none;
  background: @cyanh;
  text-shadow: unset;
}

#workspaces button.visible:hover {
  border-color: @cyanh;
  box-shadow: none;
  background: @cyanh;
}

#workspaces button.urgent {
  background-color: @bred;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 0px;
  padding: 6px 12px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;
  font-family: "Iosevka Term Nerd Font";
  color: @bg;
}

#battery {
  background-color: @bred;
}

@keyframes blink {
  to {
    background-color: @bred;
    color: @fg;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @red;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @green;
}

#pulseaudio {
  background-color: @yellow;
}

#clock {
  background-color: @magenta;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @bg;
}

tooltip label {
  padding: 5px;
  background-color: @bg;
}

#tray {
  padding: 0 6px;
}
