@define-color bg            #2a292d;
@define-color light-bg      #4C4E56;
@define-color darker-bg     #201f22;
@define-color text-main     #fbf1c7;
@define-color accent-red    #ff4c4c;
@define-color warn-orange   #e0b341;
@define-color blink-gold    #e0af68;

* {
  all: unset;
  font-family: "Mononoki Nerd Font Mono";
}

window > box {
  margin: 12px;
  background-color: @bg;
  box-shadow: 0 0 5px 5px @darker-bg;
}

#workspaces {
  padding: 15px 10px;
  margin: 0px;
}

#workspaces button.active {
  font-size: 24px;
  color: @accent-red;
}

.modules-right {
  color: @text-main;
  margin-bottom: 15px;
}

#cpu,
#pulseaudio,
#battery,
#power-profiles-daemon,
#custom-led, 
#custom-vpn {
  font-size: 28px;
  padding: 0 10px;
  margin: 0px;
}

#cpu {
  background-color: @light-bg;
}

#custom-vpn.connected {
  background-color: @light-bg;
  color: @text-main;
}

#cpu.warning {
  background-color: @warn-orange;
}

#cpu.critical {
  background-color: @accent-red;
}

#clock {
  color: @accent-red;
  padding: 15px 10px;
  margin: 0px;
}

#tray {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @darker-bg;
}

#tray menu {
  padding: 10px;
  background-color: @darker-bg;
}

tooltip {
  background: @light-bg;
  border: 0px solid @light-bg;
}

@keyframes blink {
  to {
    background-color: @blink-gold;
  }
}
