@import url("./theme.css");

* {
  font-family: "Mononoki Nerd Font Mono";
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @light-bg;
  border: 0px solid @light-bg;
}

#workspaces {
  padding-left: 10px;
}

#workspaces button {
  color: @workspace-button;
  font-size: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 0px;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
}

#workspaces button.active {
  color: @right-accent-red;
}

.modules-right {
  padding-top: 8px;
  padding-bottom: 8px;
}

.modules-right label {
  margin-right: 2px;
  background: @bg;

  padding-left: 8px;
  padding-right: 8px;

  border-radius: 0px;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging),
#battery.urgent:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #9488e3;
}

#tray menu separator {
  min-height: 10px;
}

@keyframes blink {
  to {
    background-color: #e0af68;
    /* color: white; */
  }
}
