/* bd color #192330
   selected color #2b3b51
   fg color #cdcecf 
*/

* {
    main-bg:           #192330FF;
    main-fg:           #cdcecfFF;

    select-bg:         #2b3b51FF;
    select-fg:         #cdcecfFF;

    font:              "VictorMono Nerd Font Mono 14";
}
