[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Exec=/home/wert2all/android-studio/bin/studio
Icon=/home/wert2all/android-studio/bin/studio.png
Comment=IDE for Android Development
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-android-studio
Path=
StartupNotify=true
