[Desktop Entry]
Version=1.0
Type=Application
Name=Zed Preview
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=/home/wert2all/.local/zed-preview.app/libexec/zed-editor
StartupNotify=true
Exec=/home/wert2all/.local/zed-preview.app/libexec/zed-editor %U
Icon=/home/wert2all/.local/zed-preview.app/share/icons/hicolor/512x512/apps/zed.png
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=/home/wert2all/.local/zed-preview.app/libexec/zed-editor --new %U
Name=Open a new workspace
