[Desktop Entry]
Exec=launch_sql_ui.sh api
Icon=httpie
Version=1.0
Type=Application
Categories=Development
Name=HTTPie
Terminal=false
X-GNOME-Autostart-enabled=false
StartupNotify=false
GenericName=HTTPie
