[Desktop Entry]
Exec=launch_app.sh obsidian
Icon=obsidian
Version=1.0
Type=Application
Categories=Development
Name=Obsidian
Terminal=false
X-GNOME-Autostart-enabled=false
StartupNotify=false
GenericName=Obsidian
